.venv/
__pycache__/
*.pyc
upload_config.json
upload_config.json.bak
config.json
config.json.tmp
config.sqlite
config.sqlite-wal
config.sqlite-shm
cache.json
cache.json.tmp
material/**
!material/.gitkeep
